<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-10 mx-auto mt-2">
      <h3 class="title">CigarPost 新規投稿</h3>

      <%= render 'layouts/errors', obj: @post %>

      <%= form_with model: @post, url: posts_path, local: true do |f| %>
      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body, autocomplete: 'ここに本文を入力してください。', rows: '5', class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :post_image_id %>
        <%= f.attachment_field :post_image %>
      </div>

      <div class="field d-flex justify-content-start">
        <%= f.label :category %>
        <div class="radio-btn ml-4">
          <%= f.radio_button :category, 'senryu', checked: true %> 川柳<br>
          <%= f.radio_button :category, 'tanka' %> 短歌<br>
          <%= f.radio_button :category, 'free_haiku' %> 自由律俳句
        </div>
      </div>

      <div class="actions">
        <%= f.submit '送信', class: 'btn btn-info' %>
      </div>
      <% end %>
    </div>
  </div>
</div>