<% provide(:title, @post.body) %>
<div class="container">
  <div class="row mt-2">
    <div class="col-md-7 order-md-2 mx-auto">
      <div class="col-12 main-contents py-3 px-5">
        <div class="d-flex justify-content-between">
          <div class="post-user d-flex justify-content-start">
            <%= link_to user_path(@post.user), class: 'plain-link' do %>
              <%= attachment_image_tag(@post.user, :profile_image, format: 'jpg', size: '50x50', fallback: 'no-img.jpeg', class: 'user-icon') %>
              <strong><%= @post.user.name %></strong>
            <% end %>
          </div>
          <div class="category">
            <%= render 'public/posts/category', post: @post %>
          </div>
        </div>
        <p class="post-body pt-2">
          <%= new_line(@post.body) %>
        </p>
        <% if @post.post_image %>
          <div class="post-img mx-auto">
            <%= attachment_image_tag(@post, :post_image, format: 'jpg', class: 'rounded post-img') %>
          </div>
        <% end %>
        <hr>
        <%= @post.created_at.to_s(:datetime_jp) %>
        <% if @post.user.is_active %>
          <div class="post-reaction mt-2">
            <% if @post.user == current_user %>
              <%= link_to post_path(@post), method: :delete, class: 'plain-link mr-4',
                  data: { confirm: '本当に削除しますか？', cancel: 'やめる', commit: '削除する'}, title: '削除確認' do %>
                <i class="far fa-trash-alt"></i> 削除
              <% end %>
            <% end %>
            <span id="comments-count" class="mr-4">
              <%= render 'public/post_comments/comments_count', post: @post %>
            </span>
            <span id="like-btn-<%= @post.id %>">
              <%= render 'public/likes/likes_count', post: @post %>
            </span>
          </div>
        <% else %>
          <p class="text-danger mt-2">この投稿者はアカウントを凍結されています</p>
        <% end %>

        <div id="comment-container" class="pt-2">
          <%= render 'public/post_comments/comments', post: @post, post_comments: @post_comments, post_comment: @post_comment %>
        </div>

      </div>
    </div>

    <div class="col-md-4 order-md-1 sidebar">
      <%= render 'public/users/info', user: @post.user %>
    </div>
  </div>
</div>