<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>投稿者</th>
      <th>カテゴリ</th>
      <th>本文</th>
    </tr>
  </thead>
  <tbody>
    <% rank = 1 %>
    <% popular_posts.each do |post| %>
    <tr>
      <td class="text-center">
        <%= rank %>
      </td>
      <td>
        <%= attachment_image_tag(post.user, :profile_image, format: 'jpg', size: '40x40', fallback: 'no-img.jpeg', class: 'user-icon') %>
        <strong><%= post.user.name %></strong>
      </td>
      <td class="text-center">
        <%= render 'public/posts/category', post: post %>
      </td>
      <td>
        <%= safe_join(post.body.split("\n"), tag(:br)) %>
      </td>
    </tr>
    <% rank += 1 %>
    <% end %>
  </tbody>
</table>