<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 welcome effect-fade-fast">
      <div class="welcome-info effect-fade">
        <h2 class="text-center">Welcome to CigarPost!!</h2>
        <div class="d-flex justify-content-center py-2">
          <%= link_to 'CigarPostとは？', about_path, class: 'whats_cp text-center' %>
        </div>
        <div class="d-flex justify-content-center mt-4 mb-2">
          <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-info' %>
        </div>
        <div class="d-flex justify-content-center mb-2">
          <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-outline-info' %>
        </div>
        <div class="d-flex justify-content-center mb-3">
          <%= link_to 'かんたんログイン', users_guest_sign_in_path, method: :post, class: 'btn btn-secondary' %>
        </div>
        <div class="d-flex justify-content-center">
          <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-social btn-google btn-sm" do %>
            <span class="fa fa-google"></span> Googleアカウントでログイン
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-7 main">
      <div class="col-md-11 mx-auto mt-4">
        <h4 class="effect-fade">
          <span class="text-info"><i class="fas fa-fire"></i></span> 人気投稿TOP3
        </h4>
        <div class="effect-fade">
          <%= render 'popular_posts', popular_posts: @popular_posts %>
        </div>

        <h4 class="mt-5 effect-fade">
          <span class="text-info"><i class="fas fa-seedling"></i></span> 新着投稿
        </h4>
        <div class="effect-fade">
          <%= render 'new_posts', new_posts: @new_posts %>
        </div>

        <h5 class="mt-5 effect-fade">
          <span class="highlight">
            <i class="fas fa-info-circle"></i> CigarPostからのお知らせ
          </span>
        </h5>
        <div class="effect-fade">
          <%= render 'admin_info' %>
        </div>
      </div>
    </div>

  </div>
</div>