<% provide(:title, "編集:#{@information.title}") %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-10 mx-auto mt-2">
      <h3 class="title">お知らせ編集</h3>

      <%= render 'layouts/errors', obj: @information %>

      <%= form_with model: Information.new, url: admin_information_edit_confirm_path, method: :get, local: true do |f| %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, value: @information.title, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body, value: @information.body, rows: '5', class: 'form-control' %>
      </div>

      <%= f.hidden_field :id, value: @information.id %>

      <div class="actions">
        <%= f.submit '変更', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>