<% provide(:title, "編集:#{@information.title}") %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-10 mx-auto mt-2">
      <h3 class="title">お知らせ編集</h3>

      <%= render 'layouts/errors', obj: @information %>

      <%= form_with model: @information, url: admin_information_path, local: true do |f| %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body, rows: '5', class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit '変更', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>