<% provide(:title, 'パスワード再設定') %>
<div class="container">
  <div class="row mt-2">
    <div class="col-md-6 col-sm-10 mx-auto">
      <h2>パスワードをお忘れですか？</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "パスワードの再設定方法を送信", class: 'btn btn-info' %>
        </div>
      <% end %>

      <%= render "public/shared/links" %>

    </div>
  </div>
</div>