<% if post_comments.any? %>
  <hr>
  <h5>コメント一覧</h5>
  <% post_comments.each do |post_comment| %>
    <hr>
    <div class="one-comment py-2 px-4">
      <div class="d-flex justify-content-between">
        <div class="post-user d-flex justify-content-start">
          <%= link_to user_path(post_comment.user), class: 'plain-link' do %>
            <%= attachment_image_tag(post_comment.user, :profile_image, format: 'jpg', size: '30x30', fallback: 'no-img.jpeg', class: 'user-icon') %>
            <strong><%= post_comment.user.name %></strong>
          <% end %>
        </div>
        <div class="category">
          <%= render 'public/posts/category', post: post_comment %>
        </div>
      </div>
      <p class="index-post-body mt-2">
        <%= new_line(post_comment.comment) %>
      </p>
      <small><%= post_comment.created_at.to_s(:datetime_jp) %></small>
      <small class="ml-3">
        <% if post_comment.user == current_user %>
          <%= link_to post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true, class: 'plain-link mr-4',
              data: { confirm: '本当に削除しますか？', cancel: 'やめる', commit: '削除する'}, title: '削除確認' do %>
            <i class="far fa-trash-alt"></i> 削除
          <% end %>
        <% end %>
      </small>
      <% unless post_comment.user.is_active %>
        <p class="small text-danger mt-2 mb-0">このコメント投稿者はアカウントを凍結されています</p>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if post.user.is_active %>
  <div id="comment-form" class="comment-form">
    <hr>
    <div id="error-messages">
      <%= render 'layouts/errors', obj: post_comment %>
    </div>
    <%= form_with(model:[post, post_comment], url: post_post_comments_path(post)) do |f| %>
      <div class="field">
        <%= f.text_area :comment, rows: '5', placeholder: 'コメントを入力してください', class: 'form-control' %>
      </div>

      <div class="field d-flex justify-content-start">
        <%= f.label :category %>
        <div class="radio-btn ml-4">
          <%= f.radio_button :category, 'senryu', checked: true %>
          <%= f.label :category, '川柳', value: 'senryu', class: 'pl-1 mb-0' %><br>
          <%= f.radio_button :category, 'tanka' %>
          <%= f.label :category, '短歌', value: 'tanka', class: 'pl-1 mb-0' %><br>
          <%= f.radio_button :category, 'free_haiku' %>
          <%= f.label :category, '自由律俳句', value: 'free_haiku', class: 'pl-1 mb-0' %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit '送信', class: 'btn btn-info' %>
      </div>
    <% end %>
  </div>
<% end %>
