<% provide(:title, '登録情報変更') %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-10 mx-auto mt-2">

      <h2 class="title">登録情報変更</h2>
      <small><span class="need-item">*</span> は入力必須項目です。</small>

      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field pt-3">
          <span class="need-item">*</span>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, placeholder: "email", class: 'form-control' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password, '新しいパスワード', class: 'mb-0' %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em><br />
          <% end %>
          <small class="text-muted">
            パスワードを変更しない場合は、空白のままで結構です
          </small>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>

        </div>

        <div class="field">
          <%= f.label :password_confirmation, '新しいパスワード(確認用)' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="field">
          <span class="need-item">*</span>
          <%= f.label :current_password, '現在のパスワード' %><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "変更", class: 'btn btn-info' %>
        </div>
      <% end %>

      <p class="mb-5"><%= link_to '退会する', withdraw_confirm_users_path %></p>

    </div>
  </div>
</div>