<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-10 mx-auto">

      <h2>新規登録</h2>
      <small><span class="need-item">*</span> は入力必須項目です。</small>

      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field pt-3 mb-3">
          <span class="need-item">*</span>
          <%= f.label :name, '名前' %><br>
          <%= f.text_field :name, autofocus: true, autocomplete: '名前', class: 'form-control' %>
        </div>

        <div class="field mb-3">
          <span class="need-item">*</span>
          <%= f.label :email, 'メールアドレス' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス", class: 'form-control' %>
        </div>

        <div class="field mb-3">
          <span class="need-item">*</span>
          <%= f.label :password, 'パスワード' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="field">
          <span class="need-item">*</span>
          <%= f.label :password_confirmation, 'パスワード(確認用)' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="actions mt-2 d-flex justify-content-center">
          <%= f.submit "新規登録", class: 'btn btn-info' %>
        </div>
      <% end %>
      <div class="mt-5">
        <%= render "public/shared/links" %>
      </div>

    </div>
  </div>
</div>