<% provide(:title, '新規登録') %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-10 mx-auto mt-2">

      <h2 class="title">新規登録</h2>
      <small><span class="need-item">*</span> は入力必須項目です。</small>

      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field pt-3">
          <span class="need-item">*</span>
          <%= f.label :name %><br>
          <%= f.text_field :name, autofocus: true, placeholder: '名前', class: 'form-control' %>
        </div>

        <div class="field">
          <span class="need-item">*</span>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: 'form-control' %>
        </div>

        <div class="field">
          <span class="need-item">*</span>
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="field">
          <span class="need-item">*</span>
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :profile_image_id %>
          <small class="text-muted ml-3">クリックで画像選択/変更</small>
          <br>
          <!--ラベルでfile_fieldとプレビュー画像を紐付ける-->
          <%= f.label :profile_image, class: 'image-label' do %>
            <div class="prev-contents">
              <!--既に登録されている画像があれば表示-->
              <% if @user.profile_image.present? %>
                <div class="prev-content">
                  <%= attachment_image_tag(@user, :profile_image, alt: "preview", class: "prev-image") %>
                </div>
              <% else %>
                <!--選択画像がなければiconを表示-->
                <div class="no-img">
                  <%= icon('fas', 'image', class: 'no-photo') %>
                </div>
              <% end %>
              <!--非表示-->
              <%= f.file_field :profile_image, class: 'profile-img-field mt-2' %>
            </div>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :introduction %><br>
          <%= f.text_area :introduction, placeholder: '自己紹介', rows: '5', class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: 'btn btn-info' %>
        </div>
      <% end %>
      <div class="mt-5">
        <%= render "public/shared/links" %>
      </div>

    </div>
  </div>
</div>