<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th>投稿者</th>
      <th>カテゴリ</th>
      <th>本文</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% post_comments.each do |comment| %>
    <tr>
      <td>
        <%= link_to admin_user_path(comment.user), class: 'plain-link' do %>
          <%= attachment_image_tag(comment.user, :profile_image, format: 'jpg', size: '40x40', fallback: 'no-img.jpeg', class: 'user-icon') %>
          <strong><%= comment.user.name %></strong>
        <% end %>
      </td>
      <td class="text-center">
        <%= render 'public/posts/category', post: comment %>
      </td>
      <td>
        <!-- 検索でヒットしたキーワードを太字にする -->
        <%= emphasize_keyword(new_line(comment.comment), @comment) %>
      </td>
      <td>
        <%= link_to ' 詳細', "/admin/posts/#{comment.post.id}#comment-#{comment.id}", class: 'fas fa-angle-right' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
