<div class="user-info-container">
  <div class="user-info my-3 col-10">
    <div class="user-img-field">
      <%= attachment_image_tag(user, :profile_image, format: 'jpg', size: '100x100', fallback: 'no-img.jpeg', class: 'user-icon') %>
    </div>
    <div class="user-field my-2">
      <b>ユーザー名：</b><br>
      <%= user.name %>
    </div>
    <div class="user-field my-2">
      <b>自己紹介：</b><br>
      <%= user.introduction %>
    </div>
    <div class="user-field my-2">
      <b>メールアドレス：</b><br>
      <%= user.email %>
    </div>
    <div class="user-field my-2">
      <b>登録日時：</b><br>
      <%= user.created_at.to_s(:datetime_jp) %>
    </div>
    <hr>
    <table class="table table-sm table-borderless">
      <tbody>
        <tr>
          <th>投稿</th>
          <td>
            <%= user.posts.count %>
          </td>
        </tr>
        <tr>
          <th>フォロー</th>
          <td>
            <%= user.following.count %>
          </td>
        </tr>
        <tr>
          <th>フォロワー</th>
          <td>
            <%= user.followers.count %>
          </td>
        </tr>
        <tr>
          <th>いいね</th>
          <td>
            <%= user.likes.count %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>