<% provide(:title, 'ユーザー一覧') %>
<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-2">
      <div class="d-flex justify-content-start heading-search mb-3">
        <h3 class="mr-5 my-auto heading">ユーザー一覧</h3>
        <div class="d-flex justify-content-start search-container">
          <%= render 'admin/users/admin_user_search' %>
        </div>
      </div>

      <% if @users.empty? %>
        <p class="mt-4 text-muted">該当するユーザーはいません</p>
      <% else %>
        <div class="table-responsive-md">
          <table class="table table-bordered mt-3">
            <thead>
              <tr>
                <th>ID</th>
                <th>登録日時</th>
                <th>ユーザー名</th>
                <th>メールアドレス</th>
                <th>ステータス</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td class="text-center">
                    <%= user.id %>
                  </td>
                  <td>
                    <%= user.created_at.to_s(:datetime_jp) %>
                  </td>
                  <td>
                    <!-- 検索でヒットしたキーワードを太字にする -->
                    <% if @word.present? %>
                      <%= link_to admin_user_path(user) do %>
                        <%= emphasize_keyword(user.name, @word) %>
                      <% end %>
                    <% else %>
                      <%= link_to user.name, admin_user_path(user) %>
                    <% end %>
                  </td>
                  <td>
                    <% if @word.present? %>
                      <%= emphasize_keyword(user.email, @word) %>
                    <% else %>
                      <%= user.email %>
                    <% end %>
                  </td>
                  <td class="text-center">
                    <% if user.is_active %>
                      <p class="text-muted">利用可能</p>
                    <% else %>
                      <p class="text-danger">凍結中</p>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>

      <div class="paginate">
        <%= paginate @users %>
      </div>

    </div>
  </div>
</div>