<div class="container">
  <div class="row mt-2">

    <div class="col-md-7 order-md-2 mx-auto">
      <div class="post-index">
        <h4><%= @user.name %>さんの最新投稿</h4>
        <% if @posts.empty? %>
          <p class="mt-4 pb-4 text-muted">まだ投稿はありません</p>
        <% else %>
          <div class="admin-post-container mt-3">
            <%= render 'admin/posts/index', posts: @posts %>
          </div>
          <div class="d-flex justify-content-end">
            <%= link_to '>> すべて見る', admin_posts_path(user_id: @user.id) %>
          </div>
        <% end %>
      </div>

      <div class="comment-index mt-4">
        <h4><%= @user.name %>さんの最新コメント</h4>
        <% if @post_comments.count == 0 %>
          <p class="mt-4 text-muted">まだコメントの投稿はありません</p>
        <% else %>
          <div class="admin-comment-container mt-3">
            <%= render 'admin/post_comments/index', post_comments: @post_comments %>
          </div>
          <div class="d-flex justify-content-end">
            <%= link_to '>> すべて見る', admin_post_comments_path(user_id: @user.id) %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 order-md-1 sidebar">
      <%= render 'admin/users/info', user: @user %>
    </div>
  </div>
</div>