<div class="user-info-container">
  <div class="user-info my-3 col-10">
    <div class="user-img-field">
      <%= link_to user_path(user) do %>
        <%= attachment_image_tag(user, :profile_image, format: 'jpg', size: '100x100', fallback: 'no-img.jpeg', class: 'user-icon') %>
      <% end %>
    </div>
    <div class="user-name-field my-2">
      <%= link_to user.name, user_path(user), class: 'plain-link font-weight-bold' %>
    </div>
    <div class="user-intro-field">
      <%= user.introduction %>
    </div>
    <hr>
    <table class="table table-sm table-borderless">
      <tbody>
        <tr>
          <th>投稿</th>
          <td>
            <%= link_to user.posts.count, user_path(user), class: 'plain-link' %>
          </td>
        </tr>
        <tr>
          <th>フォロー</th>
          <td>5</td>
        </tr>
        <tr>
          <th>フォロワー</th>
          <td>6</td>
        </tr>
        <tr>
          <th>いいね</th>
          <td>
            <%= link_to user.likes.count, likes_user_path(user), class: 'plain-link' %>
          </td>
        </tr>
      </tbody>
    </table>
    <% if user == current_user %>
      <%= link_to 'プロフィール編集', edit_user_path(user), class: 'btn btn-sm btn-block px-5 btn-info my-2' %>
    <% else %>
      <%= render 'public/relationships/follow_btn', user: user %>
    <% end %>
  </div>
</div>