<div class="container">
  <div class="row mt-2">
    <div class="col-md-7 order-md-2 mx-auto">
      <div class="timeline-search mb-2">
        <%= render 'public/users/timeline_search' %>
      </div>
      <% if params[:body].present? && params[:category].present? %>
        <small>キーワード：<%= @word %></small><br>
        <small>カテゴリ：<%= @category %></small>
      <% elsif params[:body].present? %>
        <small>キーワード：<%= @word %></small>
      <% elsif params[:category].present? %>
        <small>カテゴリ：<%= @category %></small>
      <% end %>
      <% if @posts.empty? %>
        <p class="mt-4 text-muted no-contents">投稿はありません</p>
      <% else %>
        <div class="col-12 main-contents mt-1">
          <%= render 'public/posts/index', posts: @posts %>
        </div>
      <% end %>

      <div class="paginate mt-3">
        <%= paginate @posts %>
      </div>
    </div>

    <div class="col-md-4 sidebar order-md-1">
      <%= render 'public/users/info', user: current_user %>
    </div>
  </div>
</div>