<li class="nav-item">
  <%= link_to '新規投稿', root_path, class: 'nav-link text-dark' %>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-search"></i>検索
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to 'ユーザー', users_path, class: 'dropdown-item' %>
    <%= link_to '投稿', posts_path, class: 'dropdown-item' %>
  </div>
</li>
<li class="nav-item">
  <%= link_to '通知', root_path, class: 'nav-link text-dark' %>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    アカウント
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to 'ホーム', timeline_path, class: 'dropdown-item' %>
    <%= link_to 'プロフィール編集', edit_user_path(current_user), class: 'dropdown-item' %>
    <%= link_to '登録情報変更', edit_user_registration_path, class: 'dropdown-item' %>
    <div class="dropdown-divider"></div>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
  </div>
</li>