<li class="nav-item my-auto">
  <%= link_to '投稿する', new_post_path, class: 'nav-link text-dark fas fa-pen-fancy' %>
</li>
<li class="nav-item my-auto">
  <%= link_to '投稿一覧', posts_path, class: 'nav-link text-dark fas fa-leaf' %>
</li>
<li class="nav-item my-auto">
  <%= link_to 'ユーザー', users_path, class: 'nav-link text-dark fas fa-user-friends' %>
</li>
<li class="nav-item my-auto">
  <%= link_to notifications_path, class: 'nav-link text-dark' do %>
    <% if unchecked_notifications.any? %>
      <i class="fas fa-bell">通知&nbsp;</i><p class="badge badge-danger mb-0"><%= unchecked_notifications.count %></p>
    <% else %>
      <i class="fas fa-bell">通知</i>
    <% end %>
  <% end %>
</li>
<li class="nav-item dropdown my-auto">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= attachment_image_tag(current_user, :profile_image, format: 'jpg', size: '30x30', fallback: 'no-img.jpeg', class: 'user-icon') %>
  </a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <%= link_to 'ホーム', timeline_path, class: 'dropdown-item' %>
    <%= link_to 'マイページ', user_path(current_user), class: 'dropdown-item' %>
    <%= link_to 'プロフィール編集', edit_user_path(current_user), class: 'dropdown-item' %>
    <%= link_to '登録情報変更', edit_user_registration_path, class: 'dropdown-item' %>
    <div class="dropdown-divider"></div>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
  </div>
</li>